api.videostore.localhost {
    reverse_proxy http://backend:3333
    tls internal
}

mail.videostore.localhost {
    reverse_proxy http://mail:8025
    tls internal
}

secrets.videostore.localhost {
    reverse_proxy http://backend-infisical:8080
    tls internal
}

videostore.localhost {
    reverse_proxy http://frontend:3000
    tls internal
}
